.nav{
width: 100%;
height: 20%;
background-color: #fd656f;
color: black;
border-radius: 0.5px;
padding: 10px;
border-radius: 5px;
}

.container{
    width: 20%;
    background-color: black;
    color: #fd656f;
    border-radius: 5px;
    margin: 60px;
    padding: 10px;
    display: inline-block;
}

.container button{
    background-color: #fd656f;
    color: black;
    border-radius: 5px;
    padding: 5px;
    border: none;
}
.overlay-container{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.popup-conatainer{
    background-color:#fd656f; 
    width: 30%;
    height: 30%;
    position: absolute;
    left: 35%;
    top: 30%;
    padding: 40px;
    border-radius: 5px;
    display: none;
}
input,
textarea{
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: none;
    color: black;
    background-color: transparent;
    border-bottom: black 2px solid;
}
input::placeholder,
textarea::placeholder {
    color: black;
    opacity: 0.7;
}
input:focus,
textarea:focus {
    outline: none;
}
.popup-conatainer button{
    background-color: black;
    color: #fd656f;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    border: none;
}

.form-button{
    background-color: #fd656f;
    width: 60px;
    height: 60px;
    color:black;
    border-radius: 100%;
    position: fixed;
    top : 85%;
    left: 90%;
    margin: 10px;
    border: none;
    font-size: 40px;
}